body{
  display: grid;
  grid-template-rows: auto auto;
padding: 0;
margin:0;
font-family: 'Raleway', Courier, monospace;
}

canvas {
  /* outline: 2px solid red;
  outline-offset: -2px; */

}

button {
font-family: 'Raleway', Courier, monospace;
  border: 0;
}

fieldset {
  border: 0;
}

.color input {

  border: 0;
}


.toolbar{
  display: grid;
  align-items: center;

  grid-template-columns: 100px 230px 120px 100px 100px;
  grid-template-rows: 64px;
  margin-left: 10px;
  gap: 10px;

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.tools {
  display: flex;
  align-items: center;
}
.tool:checked + label{
  box-shadow: 0 0 10px red;
}
.tool-label {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
  background-size: cover;
}

.tool-label--pencil {
  background-image: url("./img/paint-brush.svg");
}
.tool-label--rubber {
  background-image: url("./img/eraser.svg");
}
